{{#with project}}
  <form
    action="/projects/{{id}}?_method=PATCH"
    method="post"
    data-action="update"
    name="editProjectForm"
    class="container-fluid pt-4 max-w-sm d-flex flex-column p-3"
    id="project-form"
    enctype="multipart/form-data"
  >
    <h1 class="fs-2 text-center fw-bold">EDIT PROJECT</h1>
    <div class="col">
      <label class="form-label fw-bold" for="title">Project Name</label>
      <input
        class="form-control shadow-sm"
        type="text"
        name="title"
        id="title"
        value="{{title}}"
      />
      <p class="text-danger"></p>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <label class="form-label fw-bold" for="startDate">Start Date</label>
        <input
          class="form-control shadow-sm"
          type="datetime-local"
          name="startDate"
          id="startDate"
          value="{{getDatetimeLocal startDate}}"
        />
        <p class="text-danger"></p>
      </div>
      <div class="col-sm-6">
        <label class="form-label fw-bold" for="endDate">End Date</label>
        <input
          class="form-control shadow-sm"
          type="datetime-local"
          name="endDate"
          id="endDate"
          value="{{getDatetimeLocal endDate}}"
        />
        <p class="text-danger"></p>
      </div>
    </div>
    <div class="col">
      <label class="form-label fw-bold" for="description">Description</label>
      <textarea
        class="form-control shadow-sm"
        name="description"
        id="description"
        rows="8"
      >{{description}}</textarea>
      <p class="text-danger"></p>
    </div>
    <div class="container-fluid d-flex flex-column p-0">
      <p class="form-label fw-bold">Technologies</p>
      <div class="container row" id="technologies">
        <div class="form-check col-6">
          <input
            {{#if checkbox.nodejs}}
            checked
            {{/if}}
            name="technologies"
            class="form-check-input shadow-sm"
            type="checkbox"
            id="nodejs"
            value="nodejs"
          />
          <label class="form-check-label fw-bold" for="nodejs">Node JS</label>
        </div>
        <div class="form-check col-6">
          <input
            {{#if checkbox.nextjs}}
            checked
            {{/if}}
            name="technologies"
            class="form-check-input shadow-sm"
            type="checkbox"
            id="nextjs"
            value="nextjs"
          />
          <label class="form-check-label fw-bold" for="nextjs">Next JS</label>
        </div>
        <div class="form-check col-6">
          <input
            {{#if checkbox.react}}
            checked
            {{/if}}
            name="technologies"
            class="form-check-input shadow-sm"
            type="checkbox"
            id="react"
            value="react"
          />
          <label class="form-check-label fw-bold" for="react">React JS</label>
        </div>
        <div class="form-check col-6">
          <input
            {{#if checkbox.ts}}
            checked
            {{/if}}
            name="technologies"
            class="form-check-input shadow-sm"
            type="checkbox"
            id="ts"
            value="ts"
          />
          <label class="form-check-label fw-bold" for="ts">Typescript</label>
        </div>
      </div>
      <p class="text-danger"></p>
    </div>

    <div class="col d-flex flex-column ">
      <label class="form-label fw-bold" for="image">Upload Image</label>
      <img
      src="{{image}}"
      id="project-thumbnail-preview"
      height="120px"
      class="object-fit-cover w-100 rounded block mb-3 broken-image"
      style="max-width: 200px;"
      />
      <input
        class="form-control shadow-sm"
        type="file"
        id="image"
        accept="imge/jpg, image/png, image/jpeg, image/webp"
        name="image"
        value="{{image}}"
      />
      <p class="text-danger"></p>
    </div>
    
    <button
      class="btn btn-dark w-fit rounded-pill align-self-end fw-bold"
      id="edit-project-submitter"
    >
      Submit
    </button>
  </form>
{{/with}}